.nav2{

    width:auto;
    height: 150px;
    background: black;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    
}



.visa{

    height: 50px;
    margin-top: 50px;
    margin-left: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}

.visa:hover{

    transform: scale(1.3);
    z-index: 2;
   
}

.mastercard{

    height: 50px;
    margin-left: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
    
}

.mastercard:hover{

    transform: scale(1.3);
    z-index: 2;
}

.amercian{

    height: 50px;
    margin-left: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}

.amercian:hover{

    transform: scale(1.3);
    z-index: 2;
}
.copy{

    color: white;
    text-align: center;
    margin-top: -40px;
    
}

.googlestore{

    height: 50px;
    margin-left: 50%;
    margin-top: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}
.googlestore:hover{

    transform: scale(1.3);
    z-index: 2;
}




.applestore{

    height: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}

.applestore:hover{

    transform: scale(1.3);
    z-index: 2;
}

.facebook{

    height: 50px;
    margin-left: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}

.facebook:hover{

    transform: scale(1.3);
    z-index: 2;

}

.twitter{

    height: 50px;
    margin-left: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;

}

.twitter:hover{

    transform: scale(1.3);
    z-index: 2;
}

.instagram{

    height: 50px;
    margin-left: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
    cursor: pointer;
}

.instagram:hover{

    transform: scale(1.3);
    z-index: 2;
}
